.drop-down {
    background: #e9edf6;
    padding: 15px 15px;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
  }
  
  .drop-down:hover {
    background: #c3cad6;
    cursor: pointer;
  }

  ul {
    padding: 0;
  }
  
  ul li {
    list-style-type: none;
    margin: 8px ;
  }
  
  ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    padding: 15px 15px;
    border-radius: 10px;

    
  }
  
  ul li a:hover,
  ul li a.active {
  background: #c3cad6;
  border-left: 5px solid #1F8BE1;
  cursor: pointer;
  }
  
  ul li a svg {
    margin-right: 15px;
  }

  .sidenav {
    width: 300px;
    background: #eaf4fc;
    position: fixed;
    height: 100vh;
    left: -300px;
  }
  
  .active {
    left: 0;
    transition:  all 1s;
  }

  .nav-hr {
      border: 1px solid #e1e7ec;
  }
  
  .logo {
    width: 80px;
    padding: 10px;
    position: relative;
    left: 100px;
  }